
  <ion-tabs >
    <ion-tab-bar slot="bottom">

  <ion-tab-button class="segment-item" tab="tab1">
      <ion-icon name="person"></ion-icon>
      <ion-label>Label1</ion-label>
  </ion-tab-button>
  <ion-tab-button class="segment-item" tab="tab2">
      <ion-icon name="call"></ion-icon>
      <ion-label>Label2</ion-label>
  </ion-tab-button>
  <ion-tab-button class="segment-item" tab="tab3">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Label3</ion-label>
  </ion-tab-button>
  <ion-tab-button class="segment-item" tab="tab1">
    <p>{{api}}<br/>{{environment}}</p>  
  </ion-tab-button>

  <ion-tab-button class="segment-item" tab="tab2">itemInTheList 01
  </ion-tab-button>
  <ion-tab-button class="segment-item" tab="tab3">itemInTheList 02
  </ion-tab-button>
  <ion-tab-button class="segment-item" tab="tab1">itemInTheList 03
  </ion-tab-button>

  <ion-tab-button class="segment-item" tab="tab2">itemInTheList 04
  </ion-tab-button>
  <ion-tab-button class="segment-item" tab="tab3">itemInTheList 05
  </ion-tab-button>
  <ion-tab-button class="segment-item" tab="tab1">itemInTheList 06
  </ion-tab-button> 

</ion-tab-bar>
</ion-tabs>
